.Rproj.user
.Rhistory
.RData
.Ruserdata
.env
inst/doc
working_data/
.DS_Store
Rprof.out
docs
cache/
inst/setup.R
write-test-320619bc-3dce-4e2e-9a09-6d3d0dda2bd9
write-test-3a5ec552-890b-48df-993d-d76c20db3140
